# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js build
.next/
out/
build/

# Env files
.env*
!.env.example

# OS files
.DS_Store

# Vercel
.vercel

# Misc
*.pem
*.tsbuildinfo
coverage/